<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="opencarSuite">
 <parameter name="browser" value="chrome"/>
  <test thread-count="5" name="opencartTest">
    <classes>
      <class name="testCases.TC_001_AccountRegistrationTest"/>
       <class name="testCases.TC_002_LoginTest"/>
    </classes>
  </test> <!-- opencartTest -->
</suite> <!-- opencarSuite -->


